<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
      <p><img src="static/logo.png"></p>

      <hr/>

      <h2>Information for "Users" Web Service:</h2>

        <p>Container hostname: {{ users['container_hostname'] }}</p>
        <p>Container private IP address: {{ users['container_ip'] }}</p>
        <p>Client IP address: {{ users['client'] }}</p>
        <p>Proxy IP address: {{ users['proxy'] }}</p>
        <p>Base URL of request: {{ users['baseurl'] }}</p>
        <p>URL root of request: {{ users['urlroot'] }}</p>
        <p>Time of request: {{ users['time'] }}</p>

      <hr/>

      <h2>Information for "Orders" Web Service:</h2>

        <p>Container hostname: {{ orders['container_hostname'] }}</p>
        <p>Container private IP address: {{ orders['container_ip'] }}</p>
        <p>Client IP address: {{ orders['client'] }}</p>
        <p>Proxy IP address: {{ orders['proxy'] }}</p>
        <p>Base URL of request: {{ orders['baseurl'] }}</p>
        <p>URL root of request: {{ orders['urlroot'] }}</p>
        <p>Time of request: {{ orders['time'] }}</p>

      <h2>Information for "Front-End" Web Service:</h2>

        <p>Container hostname: {{ frontend['container_hostname'] }}</p>
        <p>Container private IP address: {{ frontend['container_ip'] }}</p>
        <p>Client IP address: {{ frontend['client'] }}</p>
        <p>Proxy IP address: {{ frontend['proxy'] }}</p>
        <p>Base URL of request: {{ frontend['baseurl'] }}</p>
        <p>URL root of request: {{ frontend['urlroot'] }}</p>
        <p>Time of request: {{ frontend['time'] }}</p>

  </body>
</html>
